In [1]:
import pandas as pd

In [25]:
df = pd.read_csv('data_covid.csv')
us = df.loc[(df['Country'] == 'US') & (df['Deaths'] >= 1)]
us.reset_index(drop=True, inplace=True)
us

           Date Country  Confirmed  Recovered  Deaths
0    2020-02-29      US         25          7       1
1    2020-03-01      US         32          7       1
2    2020-03-02      US         55          7       6
3    2020-03-03      US         74          7       7
4    2020-03-04      US        107          7      11
..          ...     ...        ...        ...     ...
350  2021-02-13      US   27575344          0  484301
351  2021-02-14      US   27640282          0  485384
352  2021-02-15      US   27694226          0  486325
353  2021-02-16      US   27756624          0  488081
354  2021-02-17      US   27825043          0  490447

[355 rows x 5 columns]

In [26]:
us.to_excel('covid_analysis.xlsx')